<div class="row">
    <div class="col-md-4 offset-md-4">
        <input type="text" class="form-control" #input>
        <p *ngIf="error" class="text-danger">Please Enter valid Number</p>
        <button class="btn btn-primary my-2" (click)="addToCount(input)">Add to Counter</button><br>
    </div>

    <div class="col-md-4 offset-md-4 mt-5">
        <h4>{{(fullName$ | async)}}</h4>
        <input type="text" class="form-control" #skills>
        <button class="btn btn-success my-2" (click)="onChangename(skills)">Add Skills</button>
    </div>
</div>